/* CSS ddo site americanas de exemplo */
#topo {
    background-color: red;
}

a {
    color: white;
}

#promocao {
    background-color: gray;
}

.destaque {
    background-color: orange;
}

/* h2 {
    color: blue;
}

p {
    color: indianred;
}

a {
    color: green;
}

li {
    background-color: skyblue;
    border: 1px solid black;
}

table {
    background-color: orange;
    border: 4px brown solid;
}

td {
    border: 3px solid black;
} */